[package]
name = "demo"
version = "0.1.0"
edition = "2021"

[dependencies]
markdown-it = {version = "0.6", default-features = false}
markdown_it_plugin_vue_component = {path = "../crates/vue_component"}
